#
# Copyright (c) 2010-2016, Fabric Software Inc. All rights reserved.
#

/build/
/ipch/

# Build files
*.sdf
*.opensdf
*.sdf
*.suo
*.user
Generated.Plugin.Fabric.ini
src/moc_MaxDFGWidget.cpp
stage/
Fabric3dsmax.VC.db
Fabric3dsmax.VC.opendb
